<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PassKeep</title>
</head>
<body>
<h1>Passwords storages</h1>
<div>
    <table border="1">
        <tr th:each="detail : ${details}" th:if="${details != null}">
            <td colspan="1">
                <a th:href="@{/main/private/password/{id}(id=${detail.id})}">
                    <button type="button" class="btn btn-link btn-block" style="width: 100%"
                            th:text="${detail.name}">Name
                    </button>
                </a>
            </td>
        <tr th:if="${details == null}">
            <td colspan="1">No passwords</td>
        </tr>
        <tr>
            <td>
                <a href="">
                    <button type="button" class="btn btn-link" style="width: 100%"> Create password</button>
                </a>
            </td>
        </tr>
    </table>
</div>
</body>